<div class="fields">
  <%= form.input :name %>
  <div>
  <%= form.fields_for :rows do |f| %>
    <%= render 'row_fields', :form => f %>
  <% end %>
  <%= link_to_add_fields "Add Row", form, :rows %>
  </div>
  <%= form.input :_destroy, :as => :hidden %>
  <%= link_to_function "remove", "remove_fields(this)" %>
</div>
